@media (max-width:768px) {
    .header_wrapper .nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
}

@media (max-width: 376px) {
    .home {
        margin-top: 200px;;
    }
}

@media (max-width: 281px) {
    .home {
        margin-top: 250px;;
    }
}